// 主题颜色
$uct-primary:#2979FF;
$uct-success:#19BE6B;
$uct-error:#FA3534;
$uct-warning:#FF9900;
$uct-info:#909399;

// 背景
$uct-bgc:#F3F4F6;

// 字体
// 主要
$uct-cmain:#303133;
// 一般
$uct-cbase:#606266;
// 次要
$uct-ctips:#909399;
// 占位
$uct-clight:#C0C4CC;

// 边框
$uct-brc:#E4E7ED;

// 主色
$uct-black: black;
$uct-white:#fff;
$uct-gray: #bbbbbb;
$uct-dark: #777777;
$uct-blue: #1464C7;
$uct-skyblue: #4E92E7;
$uct-green: #01b601;
$uct-red: #FF0000;
$uct-orange: #F79347;
$uct-yellow:#FFBF2B;