// 主色
$uct-black: black;
$uct-white:#fff;
$uct-gray: #bbbbbb;
$uct-dark: #777777;
$uct-blue: #1464C7;
$uct-skyblue: #4E92E7;
$uct-green: #01b601;
$uct-red: #FF0000;
$uct-orange: #F79347;
$uct-yellow:#FFBF2B;