// 偏移模型
@each $typeKey,
$type in $spaceTypes {

  @each $sizeKey,
  $size in $spaceSizes {

    // mt10 margin-top:10rpx
    @each $directionKey,
    $direction in $spaceDirections {
      .#{$typeKey}#{$directionKey}#{$sizeKey} {
        #{$type}-#{$direction}: $size;
      }
    }

    // mx10 margin: 10rpx 0;
    .#{$typeKey}x#{$sizeKey} {
      #{$type}-left: $size;
      #{$type}-right: $size;
    }

    // my10 margin: 0 10rpx;
    .#{$typeKey}y#{$sizeKey} {
      #{$type}-top: $size;
      #{$type}-bottom: $size;
    }

    // ma10 margin: 10rpx ;
    .#{$typeKey}a#{$sizeKey} {
      #{$type}: $size;
    }
  }
}

// 颜色模型
@each $typeKey,
$type in $colorTypes {

  // c-red  color:red;
  // bc-red background-color: red;
  @each $sizeKey,
  $size in $colorSizes {
    .#{$typeKey}-#{$sizeKey} {
      #{$type}: $size;
    }

    // bc-red-1 background-color: rgba(red,.9);
    @for $i from 0 to 9 {
      .#{$typeKey}-#{$sizeKey}-#{$i} {
        #{$type}: rgba($size, (1-$i/10));
      }
    }
  }
}

// 边框模型

@each $typeKey,
$type in $borderTypes {

  @each $sizeKey,
  $size in $colorSizes {
    @for $i from 1 to 2 {

      // bs-1-red border:2rpx solid red
      .b#{$typeKey}-#{$i}-#{$sizeKey} {
        border: $i*2px $type $size;
      }

      // bs-t-1-red border-top:2rpx solid red
      @each $directionKey,
      $direction in $spaceDirections {
        .b#{$typeKey}-#{$directionKey}-#{$i}-#{$sizeKey} {
          border-#{$direction}: $i*2px $type $size;
        }
      }
    }
  }
}

// // 字体模型
// f12 font-size:12px;
@for $i from $fontSizeStart to $fontSizeEnd {
  .f#{$i} {
    font-size: $i*2rpx;
  }
}

//文本溢出省略
// more-t3
@for $i from 1 to 5 {

  .more-t#{$i} {
    @if $i <=1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @else {
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: $i;
      -webkit-box-orient: vertical;
      transition: all linear 0.2s;
    }
  }
}