// 主题颜色
$uct-primary:$u-type-primary;
$uct-success:$u-type-success;
$uct-error:$u-type-error;
$uct-warning:$u-type-warning;
$uct-info:$u-type-info;

// 背景
$uct-bgc:$u-bg-color;

// 字体
// 主要
$uct-cmain:$u-main-color;
// 一般
$uct-cbase:$u-content-color;
// 次要
$uct-ctips:$u-tips-color;
// 占位
$uct-clight:$u-light-color;

// 边框
$uct-brc:$u-border-color;

// 主色
$uct-black: black;
$uct-white:#fff;
$uct-gray: #bbbbbb;
$uct-dark: #777777;
$uct-blue: #1464C7;
$uct-skyblue: #4E92E7;
$uct-green: #01b601;
$uct-red: #FF0000;
$uct-orange: #F79347;
$uct-yellow:#FFBF2B;

// 偏移变量大小
$spaceSizes: (2: 2rpx,
  4: 4rpx,
  8: 8rpx,
  10: 10rpx,
  15: 15rpx,
  20: 20rpx,
  24: 24rpx,
  30: 30rpx,
  40:40rpx,
  50:50rpx,
  60:60rpx,
  70:70rpx,
  80:80rpx,
  100:100rpx,
  140:140rpx);

