/* 主题颜色 */

/* 背景 */
$uct-bg-color:#fff;

/* 字体 */

/* 主要 */
$uct-main-color:#e4e7ed;

/* 一般 */
$uct-base-color:#e4e7ed;

/* 次要 */
$uct-tips-color:#e4e7ed;

/* 边框 */
$uct-border-color:#e4e7ed;

/* 主色 */
$uct-black: black;
$uct-white:#fff;
$uct-gray: #bbbbbb;
$uct-dark: #777777;
$uct-blue: #1464C7;
$uct-skyblue: #4E92E7;
$uct-green: #01b601;
$uct-red: #FF0000;
$uct-orange: #F79347;
$uct-yellow:#FFBF2B;