/* 主题颜色 */
/* 深黑 */
#dark-theme {
  background: #000;

  .bColor {
    background: #333;
    color: #999;
  }

  .borderColor {
    border-color: #999;
  }
}

/* 粉红 */
#red-theme {
  background: #f9e5ee;

  .bColor {
    background: #f9e5ee;
    color: #8e5a54;
  }

  .borderColor {
    border-color: #8e5a54;
  }
}

/* 橘黄 */
#yellow-theme {
  background: #f6e1c9;

  .bColor {
    background: #f6e1c9;
    color: #8c6031;
  }

  .borderColor {
    border-color: #8c6031;
  }
}
$uct-border-color:#e4e7ed;
/* 主色 */
$uct-black: black;
$uct-white:#fff;
$uct-gray: #bbbbbb;
$uct-dark: #777777;
$uct-blue: #1464C7;
$uct-skyblue: #4E92E7;
$uct-green: #01b601;
$uct-red: #FF0000;
$uct-orange: #F79347;
$uct-yellow:#FFBF2B;